.container-card {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    position: relative;
}

/* .cards {
    display: flex;
    flex-direction: column;
    overflow: hidden;
} */

.cards img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    margin-top: 5rem;
    cursor: pointer;
}

.heartIcon {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.5rem;
    z-index: 8;
    width: 1.5rem;
    height: 1.5rem;
    line-height: 1rem;
    transition: all 0.2s linear;
    -webkit-transition: all .2s linear;
}
.heartIcon:hover{
    transform: scale(1.1);
    transition-duration: 0.5s;
}

.box-content {
    text-align: start
}

.box-title-vote {
    display: flex;
    justify-content: space-between;
}

.card-title {
    font-size: 1rem;
    font-weight: 700;
}

.card-vote-average {
    font-weight: 500;
}

.box-vote-like{
    display: flex;
    gap: 0 1rem;
}

.slick-slide{
    padding-right: 1rem;
}

.icon-like-destaques img {
    margin: 0;
    width: 20px;
    height: 20px;
}

.card-overview {
    font-size: 0.80rem;
}