
label,
p {
  color: #fff;
}

form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

label {
  flex-direction: column;
}

.descricao {
  display: flex;
  justify-content: space-between;
}

.status {
  display: flex;
  flex-direction: row;
}

input {
  border-radius: 5px;
  border: 1px solid gray;
  height: 25px;
  width: 300px;
}

input,
textarea {
  background-color: #2C2C2C;
  color: #fff;
}

button {
  width: 300px;
  height: 40px;
  background-color: aqua;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

span.errorMsgDescricao,
span.errorMsgName {
  color: #ff0000;
}

span.errorMsgName {
  position: absolute;
  margin-top: 50px;
}

.modal-title {
  padding-top: 2rem;
}

.btn-close {
  position: absolute;
  top: 20px;
  right: 20px;
}

.box-buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.form-img img {
  width: 260px;
  height: 148px;
}