a.todoflix.navbar-brand {
    color: #E71B27;
}

a.todoflix.navbar-brand:hover {
    color: #E71B27;
}

.link,
a#navbarScrollingDropdown.dropdown-toggle.nav-link {
    color: #fff !important;
    font-weight: 500;
}

.link:hover,
a#navbarScrollingDropdown.dropdown-toggle.nav-link:hover {
    color: #ffffffe0 !important;
}

.navbar {
    margin-bottom: 15px;
}

input.search-input.form-control {
    background-color: #2C2C2C;
}

input.search-input.form-control::placeholder {
    color: #fff;
}

input.search-input.form-control {
    color: #fff;
    border: 1px solid #2C2C2C;
    display: block;
    background: url('../assets/icon/icon-search.png') no-repeat left center #2C2C2C ;
    background-size: 30px;
    padding: 1.2rem 0 1.2rem 2.5rem;
}
