.validator {
    color: #fff;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.noResults {
    color: #0dcaf0;
    margin-top: 20px;
    text-align: center;
    margin-bottom: 20px;
}

.noMovieImg {
    width: 400px;
    height: 400px;
    text-align: center;
    margin-top: 30px;
}

.container-search {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    position: relative;
}

.container-card-search {
    margin-bottom: 5rem;
    padding-right: 1.5rem;
    max-width: 300px;
    height: 300px;
}

.box-content-search {
    padding-top: 0.5rem;
}

.heart-icon-search{
    position: absolute;
    z-index: 10;
    top: 8px;
    right: 30px;
}

@media (max-width: 992px) {
    .notFound {
        margin-top: 50px;
        text-align: center;
    }

    h1 {
        padding: 10px;
    }

    .imgResponsive {
        width: 100%;
        margin-top: 25px;
    }
}