.App {
  background-color: black;
  color: #fff;
  height: 100vh;
  overflow: auto;
}

.rating-like-white {
  fill: #ffffff;
}

.rating-like-white::before {
  content: " - ";
}

.rating-like-orange {
  fill: #ffa500;
}

.rating-like-orange::before {
  content: " 3/5 ";
}

.rating-like-green80,
.rating-like-green100 {
  fill: #008000;
}

.rating-like-green80::before {
  content: " 4/5 ";
}

.rating-like-green100::before {
  content: " 5/5 ";
}

.rating-like-red20,
.rating-like-red40 {
  fill: #ff0000;
}

.rating-like-red20::before {
  content: " 1/5 ";
}

.rating-like-red40::before {
  content: " 2/5 ";
}

span.before-icon-like {
  font-size: 12px;
  display: flex;
  align-items: center;
  font-weight: 500;
}
