.movie_detail {
    height: 100%;
    padding: 1rem 0.2rem;
}

.modal-body,
.modal-header {
    background: #000;
    color: #fff;
}

button.btn-close {
    background-color: #fff;
}

.modal-content .modal-header {
    border-bottom: none;
}

.movie_detail img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

.watched-icon-edit {
    display: flex;
}

.button-watched {
    display: flex;
    align-items: center;
}

.heart-icon-modal,
.button-edit {
    display: flex;
    align-items: center;
    margin: 0.8rem 0 0 1rem;
    cursor: pointer;
}

.heart-icon-modal {
    border-radius: 50%;
    transition: all 0.2s linear;
    -webkit-transition: all .2s linear;
}

.heart-icon-modal:hover {
    transform: scale(1.1);
    transition-duration: 0.2s;
}

.button-edit i img {
    width: 20px;
}

.movie_title {
    margin-top: 2rem;
    font-weight: 700;
    font-size: 1rem;
}

.movie_title,
.movie_overview {
    word-break: break-word;
}

.movie_overview {
    font-family: 'IBM Plex Sans KR', sans-serif;
    font-size: 0.8rem;
    padding-top: 0.5rem;
}